<html>
    <head></head>
    <body>
        <table>
            {%for i in headers%}
            <tr><td>{{i.0}}</td> <td>{{i.1}}</td>
            </tr>
            {%endfor%
        </table>
        <div class="body">{{body}}</div>

    </body>
</html>
